<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Landmarks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Watch Landmarks Extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Watch Landmarks Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Watch Landmarks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>WatchLandmarks Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WatchLandmarks Watch AppTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WatchLandmarks Watch AppUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD4B4CD7295B48CA00A5D31D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDFE631A29792FC800000509</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDFE632929792FC900000509</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDFE633329792FC900000509</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDFE63972979326F00000509</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
